<?xml version='1.0' encoding='utf-8'?>
<widget id="qrks.romualdk.mazydungeon" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MAZE Dungeon</name>
    <description>
        Find way out from a maze of dungeons.
    </description>
    <author email="romuald.kowalczyk@gmail.com" href="http://romualdk.github.io">
        Romuald Kowalczyk
        Dorota Kasperek
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <icon src="icon.png" />
    <platform name="android">
        <icon height="36" qualifier="ldpi" src="res/icon/android/ic_36_ldpi.png" width="36" />
        <icon height="48" qualifier="mdpi" src="res/icon/android/ic_48_mdpi.png" width="48" />
        <icon height="72" qualifier="hdpi" src="res/icon/android/ic_72_hdpi.png" width="72" />
        <icon height="96" qualifier="xhdpi" src="res/icon/android/ic_96_xhdpi.png" width="96" />
        <icon height="144" qualifier="xxhdpi" src="res/icon/android/ic_144_xxhdpi.png" width="144" />
        <icon height="192" qualifier="xxxhdpi" src="res/icon/android/ic_192_xxxhdpi.png" width="192" />
        <icon height="512" src="res/icon/android/ic_512_market.png" width="512" />
    </platform>
    <gap:plugin name="phonegap-admob" source="npm" />
    <engine name="android" spec="~6.1.2" />
    <plugin name="cordova-admob" spec="^4.1.16" />
</widget>
