<?xml version='1.0' encoding='utf-8'?>
<widget id="qrks.romualdk.mazydungeon" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MAZE Dungeon</name>
    <description>
        Find way out from a maze of dungeons.
    </description>
    <author email="romuald.kowalczyk@gmail.com" href="http://romualdk.github.io">
        Romuald Kowalczyk
        Dorota Kasperek
    </author>
    <content src="index.html" />
    <access origin="*" />
    <engine name="android" spec="~6.2.3" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <icon src="icon.png" />
    <platform name="android">
        <icon src="res/icon/android/ic_36_ldpi.png" qualifier="ldpi" width="36" height="36" />
        <icon src="res/icon/android/ic_48_mdpi.png" qualifier="mdpi" width="48" height="48" />
        <icon src="res/icon/android/ic_72_hdpi.png" qualifier="hdpi" width="72" height="72" />
        <icon src="res/icon/android/ic_96_xhdpi.png" qualifier="xhdpi" width="96" height="96" />
        <icon src="res/icon/android/ic_144_xxhdpi.png" qualifier="xxhdpi" width="144" height="144" />
        <icon src="res/icon/android/ic_192_xxxhdpi.png" qualifier="xxxhdpi" width="192" height="192" />
        <icon src="res/icon/android/ic_512_market.png" width="512" height="512" />
    </platform>
</widget>
